@font-face {
    font-family: "San Francisco";
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

.label-font {
    font-family: "San Francisco", sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.space-background {
    background-image: url('./assets/space-background-1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;

    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.nav-font {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 32px !important;
    font-weight: bold;
    margin-left: 2%;
}

.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    text-align: center;
}

.container-fluid {
    height: 100%;
}

.space-gradient-background {
    position: relative;
    width: 100%;
    height: 100vh;
    background: rgb(65, 88, 208);
    background: linear-gradient(10deg, rgba(65, 88, 208, 1) 0%, rgb(146, 61, 140) 60%, rgba(255, 204, 112, 1) 100%);
    background-blend-mode: overlay, screen, normal;
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    z-index: -1;
}

.space-gradient-background-2 {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(87, 88, 140, 1) 100%);
    opacity: 1;
    z-index: -1;
}

.input-group,
.form-group {
    opacity: 0.6;
}

input-area::placeholder {
    color: red;
    opacity: 1;
    /* Firefox */
}

.App-header {
    background-color: var(--body_background);
    color: var(--body_color);
}

.App-link {
    color: var(--link_color);
}

.left-container {
    position: absolute;
    top: 6%;
    left: 6%;
    max-width: 62%;
}

.right-container {
    position: absolute;
    top: 10.5%;
    left: 71%;
    height: 84%;
    width: 22%;
    padding: 60px;
    background-color: #b3c8e0a1;
    border: 4px solid #2a394ed3;
    border-radius: 15px;
}

.footer {
    bottom: 0%;
}

.image-container {
    position: relative;
    border: 8px solid rgb(101 50 111);
    width: 100%;
    border-radius: 10px;
    background-color: #f9f9f9;
}

*:focus,
*:active {
    box-shadow: none !important;
}

img {
    width: 100%;
    height: auto;
}